{% extends "base.html" %}
{% block nav_link_index_class %}active{% endblock %}
{% block content %}
		
	
		<!-- Content Container -->
		<div id="content">
        
        <!-- Leaderboard -->
        <div class="wide leader">
      
                <div class="leadertext"> 
                    <h1>Do what you do best.  We'll handle all that extra stuff.</h1>
                    <h2>We'll help you find customers, schedule them in, and get paid.  All you need to do is what you're good at.</h2>
                </div>
                
                
            <div class="leaderimage">
			<!-- begin slider -->
              <div class="wrap">
                        
                        <div id="slides">
                                <div><a href="static/img/outside/front_gallery/full/listing.png" rel="gallery[websites]" title="Completely free, great looking website."><img src="static/img/outside/front_gallery/thumb/listing.png" alt="Free custom website" /></a></div>
                            <div><a href="static/img/outside/front_gallery/full/edit.png" rel="gallery[websites]" title="Easy to use, natural interface"><img src="static/img/outside/front_gallery/thumb/edit.png" alt="Easy, helpful interface" /></a></div>
                                <div><a href="static/img/outside/front_gallery/full/dashboard.png" rel="gallery[websites]" title="Advanced business management tools"><img src="static/img/outside/front_gallery/thumb/dashboard.png" alt="Advanced business management controls" /></a></div>
                    	</div>
                        
                  <div id="control-wrapper">
                    <div id="controller" style="float: left;">  
                            <span class="jFlowControl"><img src="static/img/outside/controller-bullet.gif" alt="1" /></span>  
                            <span class="jFlowControl"><img src="static/img/outside/controller-bullet.gif" alt="2" /></span>  
                           	<span class="jFlowControl"><img src="static/img/outside/controller-bullet.gif" alt="3" /></span>                    </div>
                        
                    <div id="prevNext" style="float: right;">  
                        <img src="static/img/outside/ltarrow.gif" alt="Previous" class="jFlowPrev" />  
                        <img src="static/img/outside/rtarrow.gif" alt="Next" class="jFlowNext" />                    </div>  
                  </div>
                           
              </div>
              <!-- end slider wrap -->
			</div>
            
                
                <div class="leadersteps">
                
                <ul>
                <li><img src="static/img/outside/index/num_1.gif" alt="" /><h2>Give your business a face</h2> <br />Tell us a bit about what you do, and we'll make you a free website where your customers can find out more about what you do and contact you for more.</li>
                <li><img src="static/img/outside/index/num_2.gif" alt="" /><h2>Tell us your schedule</h2> <br />Let your customers book your time worry free.  We'll remind you when work needs to get done</li>
                <li><img src="static/img/outside/index/num_3.gif" alt="" /><h2>Automate the rest</h2> <br />Build or expand your customer base with one click local advertising.  Make getting paid really easy by taking credit card payments.</li>
                </ul>
                
                </div>             
            <div class="bottom"></div>
        </div>            
        <!-- End Leaderboard -->        


            <!-- Join Bar -->
			<div class="wide">
            <div class="top"></div>
                <div class="leaderlogin">
                    <h1>To start, just login with your Google account</h1>
                    <a href="user/home"><img src="static/img/outside/login_with_google.png" /></a>
                    <p>Don't worry, we're just using your Google account to login and can't access any of your personal information. </p><br />
                    <p>We take privacy seriously.  Read our <a href="privacy_policy">privacy policy</a> and <a href="terms_of_service">terms of service</a>.  By using our website you agree to them.</p>
                </div>
            <div class="bottom"></div>
			</div>
            <!-- End Join Bar -->


            
		</div>		
	</div>
	<!-- Page Container -->
{% endblock content %}

