{% extends "base_one_column.html" %}
{% block nav_link_contact_us_class %}active{% endblock %}
{% block sole_column %}
<div class="attention">
    <h1>Contact us</h1>
    <div class="subHeading">
        Although we'd love to hear from you over the phone, we'll probably get back to you faster over email.
    </div>
    <div class="main-text">
        <ul>
            <li>
                <h3 class="black">Give us a call!</h3>
                <p>
                    We'd love to hear from you.  Call us at 1-705-300-4122 and we'd be more than happy to help you with
                    most concerns.  If you get to voicemail just leave a message and we'll call you back as soon as we can.
                </p>
            </li>
            <li>
                <h3 class="black">Feedback</h3>
                <p><a href="mailto:feedback@contractorcopilot.com">feedback@contractorcopilot.com</a></p>
            </li>
            <li>
                <h3 class="black">Technical Support</h3>
                <p><a href="mailto:tech_support@contractorcopilot.com">tech_support@contractorcopilot.com</a></p>
            </li>
            <li>
                <h3 class="black">Help with a purchase</h3>
                <p><a href="mailto:sales@contractorcopilot.com">sales@contractorcopilot.com</a></p>
            </li>
            <li>
                <h3 class="black">General questions</h3>
                <p><a href="mailto:web_questions@contractorcopilot.com">web_questions@contractorcopilot.com</a></p>
            </li>
        </ul>
    </div>
</div>

{% endblock sole_column %}
