{% extends "base_two_columns.html" %}
{% block nav_link_what_we_do_class %}active{% endblock %}
{% block left_column %}
<div class="attention">
    <h1>We're here to help you do what you love.</h1>
    <div class="subHeading">
        We want to take care of the stuff that slows part time business down, giving
        you the time to focus on you and your customers.
    </div>
</div>
<div class="hr"></div>
<div class="main-text">
    <h3>You're the one with the talent.</h3>
    <p>
        You've got talent, an ability, a trade or a skill.  You know that
        you can do it cheaper or better or faster than what's out there right
        now.  We recognize the power of one person business.  We also know
        that there's a lot of overhead in running one.  We want to provide
        you with the tools to get rid of that overhead and take care of the
        things that you might need a hand with.
    </p>
    <p>
        If you've got a skill and you know there's a demand for it, we want
        to help you bring it to market.  We want to get you more customers
        and make it easier for them to do business with you, while at the
        same time freeing up more of your time for yourself.
    <p>
    <h3>We make business easy</h3>
    <p>
        Our goal is to help you work as much as you want, when you want to,
        and spend as little time dealing with the business of running a business
        as possible.  If you want to spend 10 hours a week on your trade,
        we don't want you to spend 4 of those hours dealing with bills and
        scheduling.  If you want to work a couple hours on Tuesday and
        Thursday evening, we don't want you spending all Monday worrying
        about advertising.
    </p>
    <h3>Need more customers?  We can do that.</h3>
    <p>
        We're experts at getting your name out there.  We give you a free
        website where you can show off what you do.  If you'd like, we can
        go and get you listed in all of the major Canadian business listings.
        If you're really looking to bring in customers we can set up and run
        your advertising, all you have to do is tell us how you want to be seen.
    </p>
    <h3>Want to let your customers pay by credit or debit?  We do that too.</h3>
    <p>
        Not everyone carries cash.  Fewer prefer to pay with it.  We give you the
        option to both simplify payment and give your customers confidence
        in your business.  On your free page you'll have a simple payment form
        available.  Either take the payment on site or let your customers pay
        at a later date - we'll let you know right away when a payment goes
        through.
    </p>
    <h3>Only have limited hours?  We'll schedule in your customers.</h3>
    <p>
        Just tell us when you're available and we'll send you an email letting
        you know when someone wants to book you.  Don't worry about the back
        and forth that normally comes with booking someone in.
    </p>
</div>
<div class="hr"></div>
<div class="attention">
    <h1>We're your Copilot.  We're here to help.</h1>
    <div class="subHeading">
        Let us know how we're doing.  We want to make part time business dead simple
        and are always looking to improve.
    </div>
</div>

{% endblock left_column %}

{% block right_column %}

<h2>Free website</h2>
<hr />

<p>
    Customers love legitimacy, get a great looking online presence for free in less than 5 minutes.
</p>

<h2>Credit card payments</h2>
<hr />

<p>
    Give your customers confidence by offering to take credit cards.  Stop chasing people down for cash when they don't have it.
</p>

<h2>Scheduling</h2>
<hr />

<p>
    Make it really easy for customers to book your time.  No more missed appointments.
</p>

<h2>Advertising</h2>
<hr />

<p>
    Stop spending all your time looking for customers, let our experts bring them to you.
</p>

{% endblock right_column %}
