<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" version="-//W3C//DTD XHTML 1.1//EN" xml:lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Contractor Copilot</title>
        <meta name="description" content="content" />
        <link rel="stylesheet" href="static/css/screen.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="static/css/reset.css" type="text/css" media="screen" />
    </head>
    <body>
        <img src="static/img/logo.jpg" id="main_logo">
        <div class='column' style="width: 560px">
            <h1>We're hard at work!</h1>
            <p>Contractor Copilot is under development and will be ready for
            launch in the coming months.  For updates, check out our blog at 
            <a href="http://blog.contractorcopilot.com">blog.contractorcopilot.com</a>.  
            We'll be posting updates regarding our status, as well as how life
            in Santiago is treating us!</p>
            <h1>What is Contractor Copilot?</h1>
            <p>
            We want to make it possible for anybody with carpentry skills, 
            computer repair know-how, tutoring ability, or plumbing knowledge to 
            serve the market around them.</p>
            <iframe src="http://player.vimeo.com/video/27609921?title=0&amp;byline=0&amp;portrait=0"  width="550px" height="300px" ></iframe>
        </div>
        <div class='column' style="width: 360px">
            <h2>Contact us</h2>
            <div class="contact_card" person='alex'>
                <img src="static/img/alex.jpg" />
                <h3>Alex Hughson</h3>
                <em>Founder, code monkey</em>
                <ul>
                    <li><script language="javascript">document.write("<a href=" + "mail" + "to:" + "alex" + "@" + "contractorcopilot" + ".com" + ">" + "alex" + "@" + "contractorcopilot" + ".com" + "</a>")</script><li>
                    <li><a href="http://ca.linkedin.com/pub/alex-hughson/29/45b/132">Linkedin</a></li>
                    <li>(56-2) 897 7004</li>
                </ul>
            </div>
            <div class="contact_card" person='james'>
                <img src="static/img/james.jpg" />
                <h3>James Rimmer</h3>
                <em>Bureaucrat, finances</em>
                <br />
                <ul>
                    <li><script language="javascript">document.write("<a href=" + "mail" + "to:" + "james" + "@" + "contractorcopilot" + ".com" + ">" + "james" + "@" + "contractorcopilot" + ".com" + "</a>")</script><li>
                    <li><a href="http://www.linkedin.com/pub/james-r-b-rimmer/1a/b7/794">Linkedin</a></li>
                    <li>(56-2) 897 7004</li>
                </ul>
            </div>
            <div class="contact_card" person='josh'>
                <img src="static/img/josh.jpg" />
                <h3>Josh Stabback</h3>
                <em>Fills the gap</em>
                <ul>
                    <li><script language="javascript">document.write("<a href=" + "mail" + "to:" + "josh" + "@" + "contractorcopilot" + ".com" + ">" + "josh" + "@" + "contractorcopilot" + ".com" + "</a>")</script><li>
                    <li><a href="http://www.linkedin.com/pub/joshua-stabback/2b/263/425">Linkedin</a></li>
                    <li>(56-2) 897 7004</li>
                </ul>
            </div>
            <p>Or, you can get in contact with any of us at <script language="javascript">document.write("<a href=" + "mail" + "to:" + "everyone" + "@" + "contractorcopilot" + ".com" + ">" + "everyone" + "@" + "contractorcopilot" + ".com" + "</a>")</script>.  We'll get back to you ASAP.
        </div>
    </body>
</html>
